services:
  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: ticket_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    volumes:
      - ./db/migrations:/migrations
    depends_on:
      postgres:
        condition: service_healthy
    command: ["-path", "/migrations", "-database", "postgres://postgres:secret@postgres:5432/ticket_db?sslmode=disable", "-verbose", "up"]

  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      PORT: "8080"
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASSWORD: secret
      DB_NAME: ticket_db
      SSL_MODE: disable
      JWT_SECRET: rahasia_negara
      JWT_EXP_TIME: "24"
      CACHE_HOST: redis
      CACHE_PORT: "6379"
      CACHE_PASSWORD: ""
      CACHE_TLS: "false"
    depends_on:
      migrate:
        condition: service_completed_successfully
      redis:
        condition: service_healthy

volumes:
  pgdata:
